<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myz.azloanmanage.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.myz.azloanmanage.entity.Task">
        <id column="id" property="id" />
        <result column="sys_user_id" property="sysUserId" />
        <result column="this_month_task" property="thisMonthTask" />
        <result column="this_month_completed" property="thisMonthCompleted" />
        <result column="this_week_task" property="thisWeekTask" />
        <result column="this_week_cpmpleted" property="thisWeekCpmpleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sys_user_id, this_month_task, this_month_completed, this_week_task, this_week_cpmpleted, create_time, update_time, remarks
    </sql>

</mapper>
